{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended"],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "eqeqeq": ["error", "smart"],
    "no-var": "error",
    "spaced-comment": ["warn", "always"]
  }
}
